@import 'Home.css';
@import 'reset.css';
@import 'Books.css';
@import 'Search.css';
@import 'About.css';
@import 'MyBooks.css';

.App-logo{
    width: 50%;
}

.mr-auto a {
     padding-left: 30px;
     padding-bottom: 10px;
     font-size: 160%;
     color: coral;
     font-weight: 600;
}

.mr-auto{
    margin-right: 0px;
}